@font-face {
    font-family: "OpenMoji";
    src: url("/fonts/openmoji_color.woff2") format("woff2");
    /* OpenMoji-color-glyf_colr_0.woff2 */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono First";
    src: url("/fonts/maple_sim.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono Second";
    src: url("/fonts/maple_cn.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/maple_han.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    color: orange;
    font-family: 'Maple Mono First', 'OpenMoji', 'Maple Mono Second', 'Maple Mono';
}

*:not(h1) {
    color: orange;
    font-family: 'Maple Mono First', 'OpenMoji', 'Maple Mono Second', 'Maple Mono';
    font-size: 16pt;
}