@font-face {
    font-family: "OpenMoji";
    src: url("/fonts/openmoji_color.woff2") format("woff2");
    /* OpenMoji-color-glyf_colr_0.woff2 */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/maple_sym.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/maple_sim.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/maple_han.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Maple Mono', 'OpenMoji';
    color: rgb(247, 187, 36);
}