---

---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/styles/global.css" />
        <title>about</title>
    </head>
    <body>
        <center>
            <h1>About</h1>
            <a href="/">index</a>
            <a href="/about/">about</a>
            <a href="/blogs/">blogs</a>
            <br />
            <img
                src="https://github.com/ealcry.png"
                alt="github user ealcry's avater"
                height="140pt"
                style="border-radius: 13pt;"
            />
            <br>
            ealcry

        </center>
    </body>
</html>
