---

---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/styles/global.css" />
        <title>blogs</title>
    </head>
    <body>
        <center>
            <h1>Blogs</h1>
            <a href="/">index</a>
            <a href="/about/">about</a>
            <a href="/blogs/">blogs</a>
        </center>
    </body>
</html>
