---
console.log("Hello");
import "../styles/global.css";
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="img/svg", href="/favicon.svg">
    <title>ealcry blogs</title>
  </head>
  <body>
    <center>
      <h1>Hello World!z7&</h1>
      <a href="/">index</a>
      <a href="/about/">about</a>
      <a href="/blogs/">blogs</a>
      <br>
      你好？[INFO]
      <br>
      &copy; ealcry 2025
    </center>
  </body>
</html>
